

<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <p class="navbar-text pull-left no-padding">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
        </p>
        <div class="navbar-header pull-left">
            <a class="navbar-brand leftPad">Widget Header Edit</a>
        </div>
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </a>
        </p>

    </div>
</nav>



<div class="col-sm-12 container-fluid">



    <form>

        <div>
            <label for="name" class="noBold">Name</label>
            <input ng-model= "model.widget.name" type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div>
            <label for="text" class="noBold">Title</label>
            <input ng-model= "model.widget.text" type="text" class="form-control" id="text" placeholder="Text">
        </div>
        <div>
            <label for="size" class="noBold">Size</label>
            <input ng-model= "model.widget.size" type="text" class="form-control" id="size" placeholder="Size">
        </div>


    </form>
    <a ng-click= "model.deleteWidget(model.widget._id)" type="button" class="btn btn-danger btn-block">Delete</a>
</div>


<nav class="navbar navbar-light bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="profile.html" class="navbar-link">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
        </p>
    </div>
</nav>

